<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de cadastro</title>
</head>
<body>
    <h1>Página de cadastro</h1>
    <br>
    <form action="{{ url_for(cadastro)}}" method="POST">
        <table>
        <tr>
            <td>Nome</td>
            <td><input type="text" name="nome"></td>
        </tr>
        <tr>
            <td>Razão social</td>
            <td><input type="text" name="razao_social"></td>
        </tr>
        <tr>
            <td>CNPJ</td>
            <td><input type="text" name="cnpj"></td>
        </tr>
        <tr>
            <td>Data de inclusão</td>
            <td><input type="text" name="data_inclusao"></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Cadastrar">
    </form>
    <a href="index.html">Voltar</a>
</body>
</html>